body{
    background-color: #1E1D41;
    margin-left: 0;
    margin-right:0;
    width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/** Menu */

img.logo{
    width: 52px;
    margin-left:10px;
}

ul.menu{
    display: inline-block;
    position: absolute;
}

ul.menu>li{
    display:inline-block;
    text-decoration: none;
    margin-left: 50px;
}

ul.menu>li>a{
    text-decoration: none;
    color:white;
    font-family:'Montserrat';
    width: 16px;
}

header{
    height: 60px;
    border-bottom: solid;
}

ul.media{
    display: inline-block;
    position: absolute;
    right:150px;
    height: 40px;
    
}

ul.media>li{
    display:inline-block;
    text-decoration: none;
    margin-left: 8px;
}

ul.media>li>a>img{
    margin:auto;
}

/** Sections */

section{
    color:white;
}

section h1{
    font-family: 'Anton', sans-serif;
}

section h2{
    font-family: 'MontSerrat';
    font-size: 20px;
    font-weight: 600;
}

section p{
    font-family: 'MontSerrat';
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

section.footer{
    color:white;
    position: relative;
}
div.left{
    position: absolute;
    left:300px;
    top:30px;
}

div.middle{
    position: absolute;
    left:650px;
    top:50px;
}

div.middle>img{
    width: 100px;
    height: 100px;
}

div.middle>ul.media_footer{
    margin-left:-65px;
}

div.middle>ul.media_footer>li{
    display:inline-block;
    margin-left: 5px;
}

div.right{
    position: absolute;
    left:900px;
    top:30px;
}
ul.menu_footer>li{
    list-style-type: none;
}
ul.menu_footer>li>a{
    text-decoration: none;
    color:white;
    font-family: "MontSerrat";
    margin-left: 2px;    
}

h3{
    font-family: 'Anton', sans-serif;
}




/* Section1 */

section.section1{
    height: 670px;
    position: relative;
}

section.section1>div{
    position: absolute;
    width: 500px;
    top:300px;
    left:150px;
}

section.section1>img[class*="rightside"]{
    position: absolute;
    right:40px;
    margin-top: 20px;
}

section.section1>img.rightside-bottom{
    bottom:20px;
}

section.section1>img.leftside{
    position: absolute;
    top:20px;
    left:20px;

}


/**Section Actualités*/
section.actualites{
    margin-left:20px;
}


ul.news{
    margin-left:-30px;
}

ul.news>li{
    display: inline-block;
    text-decoration: none;
    margin-left:10px;
}


/** Section Events */
section.events{
    margin-left:20px;
}

ul.matchs{
    margin-left:-30px;
}

ul.matchs>li{
    display: inline-block;
    text-decoration: none;
    margin-left:30px;
}

/** Section Articles */

section.section_articles{
    margin-left:20px;
    margin-bottom: 20px;
}

section.section_articles>div{
    width: 510px;
    height: 430px;
    background-color: #292859;
    padding:20px;
    position:relative;
}

section.section_articles>div>input#email{
    height: 24px;
    width: 380px;
    background-color: #6D6CA6;
    color:white;
    font-family: 'MontSerrat';
    border-radius:6px;
    
}

section.section_articles>div>input#email::placeholder{
    color:#d4d4d4;
}

section.section_articles>div>input#submit{
    background: #3137FD;
    border-radius: 6px;
    height: 30px;
    width: 100px;
    color:white;
    font-family: "MontSerrat";
}

section.section_articles>img.leftside{
    position: absolute;
    top:71px;
    left:570px;
}
section.section_articles>img[class*="rightside"]{
    position: absolute;
    right:20px;
    top:71px;
}
section.section_articles>img.rightside-bottom{
    top:310px;
}

/** Section Team */

section.section_team{
    background-image: url("../img/bgequipe.png");
    height: 620px;
}
section.section_team>div{
    width: 510px;
    padding-left:40px;
    padding-top:10px;
    position:relative;
}

section.section_team img{
    width: 120px;
    cursor: pointer;
}

/** Section partenaires*/

section[class*="partenaires"]{
    position: relative;
}

section.partenaires_left{
    background-image: url("../img/bgPartner1.png");
    height: 380px;
}
section.partenaires_left>div{
    width: 600px;
    position: absolute;
    top:70px;
    left:70px;
}
section.partenaires_left>img{
    position: relative;
    left:800px;
    top:-50px;
}

section.partenaires_right{
    background-image: url("../img/bgPartner2.png");
    margin-top:0px;
    height: 380px;
}

section.partenaires_right>div{
    width: 600px;
    position: relative;
    top:-250px;
    left:800px;
}

section.partenaires_right>img{
    position: relative;
    left:100px;
    top:0px;
    width: 300px;
}


/** Section shop */

section.section_shop{
    background-image: url("../img/bg_shop.png");
    height: 620px;
    position: relative;
}

section.section_shop>div{
        position: absolute;
        width: 500px;
        top:230px;
        left:150px;
}

section.section_shop>div>a>img{
    cursor: pointer;
}

section.shop{
    margin-left:20px;
}
ul.shirts{
    margin-left:-30px;
}

ul.shirts>li{
    display: inline-block;
    text-decoration: none;
    margin-left:10px;
}